<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
     
  </div>
  
      
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
             
              
          
          </div>
          
         
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    
                
                  <div>
                    
                  </div>
                  <div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
               
              </h3>
              <div class="h5 font-weight-300">
              
              </div>
              <div class="h5 mt-4">
              
              </div>
              <div>
                
              </div>
              <hr class="my-4" />
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">ajouter un eleve</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">groupe</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">l'information de l'eleve</h6>
              <div class="pl-lg-4">
                
                
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Nom</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="nom" >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Prenom</label>
                      <input type="text"  id="input-last-name" class="form-control form-control-alternative" placeholder="Prenom" >
                    </div>
                  </div>
                   
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Email</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="@exemple.com" >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">password</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Prenom" >
                    </div>
                  </div>
                </div>
                  
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">age</label>
                      <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="age">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Genre</label>
                    <input type="text"  id="input-first-name" class="form-control form-control-alternative" placeholder="genre" >
                  </div>
                </div>
                
              </div>
             
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact de l'eleve</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Addresse</label>
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">Numero</label>
                      <input type="text" id="input-city"  class="form-control form-control-alternative" placeholder="+216000000" >
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">Numero parent</label>
                      <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="+216000000">
                    </div>
                  </div>
                
  
                </div>
              </div>
              <a  class="btn btn-info" (click)="update()">update</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  