
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
      <a href="#!" class="btn btn-success mt-2">modifier groupe</a>
    </div>
  </div>


  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">



          </div>


            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>


                  <div>

                  </div>
                  <div>

                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>

              </h3>
              <div class="h5 font-weight-300">

              </div>
              <div class="h5 mt-4">

              </div>
              <div>

              </div>
              <hr class="my-4" />

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <div  style="display: flex; justify-content: space-between;margin: 30px 20px;">
                <h2>Ajout groupe</h2>
                <button class="btn btn-success mt-2" routerLink="/groupe">Liste</button>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div class="card-body">
  <div class="container">




    <div class="tab-pane active"  id="settings">



          <h5 class="mb-4 text-uppercase"><i class="mdi mdi-account-circle me-1"></i> Groupe </h5>

          <div class="row">


              <div class="col-md-6">
                <label for="example-select" class="form-label">Intitule Formation</label>
              <select [(ngModel)]="groupe.idFormation" class="form-control " id="example-select">

                <option *ngFor="let f of formation" [value]="f.id"> {{f.intituleFormation}} </option>
              </select>



              </div>

              </div> <!-- end col -->



            <div class="col-md-6">
              <div class="mb-3">
                  <label  class="form-label">nom groupe</label>
                  <input type="text" [(ngModel)]="groupe.nom_groupe" class="form-control"  placeholder="Entrer nom groupe">
              </div>
          </div>
          </div> <!-- end row -->
          <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="form-label" class="form-label">niveau</label>
                    <input type="text" [(ngModel)]="groupe.niveau" class="form-control"  placeholder="Enter niveau">

                </div>
            </div>

            </div> <!-- end col -->





          <div class="row">

          </div> <!-- end row -->


          <div class="text-end">
              <button type="submit" (click)="ajout()" class="btn btn-success mt-2"  ><i class="mdi mdi-content-save"></i> Ajouter</button>
          </div>


  </div>

    </div>
