<div class="row">
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
 
   
</div>
</div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
<!-- Table -->    
<div class="row">
<div class="col">
  <div class="card shadow">
    <div class="card-header border-0">
      <h3 class="mb-0">Deposer cours             <div class="col-sm-4">
        <br>
        
    <div class="col-8" style="color:red;">
      <label  class="btn btn-primary p-0">
        <input type="file" (change)="selectFile($event)" />
      </label>
    </div>
    <div class="col-4">
      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
    </div>
  </div>
  <div *ngIf="currentFile" class="progress my-3">
    <div
      class="progress-bar progress-bar-striped bg-success"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
  <div class="card mt-3">
    <div class="card-header">List of Files</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item"  >
        <a href="{{ file.url }}">{{ file.name }}    </a>
        <span class="fa-li fa fa-paperclip">
          <span class="fa-li fa fa-eraser">
            <span class="fa-li fa fa-print">
            </span>
          </span>
          </span>
     
      </li>
    
    </ul>
  </div>